:root {
    --color-primary: #aaa;
    --color-secondary: black;
    --color-tertiary: #ddaaff;
}



* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  background-color: black;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 100%;
    color: #2c3e51;
    background-color: var(--color-secondary);
    font-family: 'Montserrat', sans-serif;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    color: var(--color-secondary);
}

.box-shadow {
    box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
}


.error {
    color: #F44336;
}


.container {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top:70px;
    margin-bottom:10px;
}

.card {
    position: relative;
    margin: auto;
    border-radius: 5px;
    background-color: #fff;
    /*width: 380px;*/
    width: 340px;
    padding: 16px 32px;
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

    .card:focus, .card:hover {
        box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.2);
    }

    .card .logo {
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

@media screen and (max-width: 408px) {
    .main {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
    }


    .card {
        width: auto !important;
        margin: 100px 8px !important;
    }
}

.logo {
    display: block;
    background-image: url("avatar1.jpg");
  background-repeat:no-repeat;
    background-size: 100%;
    width: 110px;
    height: 110px;
    font-size: 5rem;
    text-align: center;
    color: #fff;
  background-color: var(--color-primary);
   /* background: var(--color-primary);*/
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgba(16, 16, 16, 0.5);
    transition: all 0.3s ease;
}

    .logo:hover {
        transform: scale(1.02);
    }

    .logo div {
        width: 100%;
        height: 1rem;
    }

.card-head {
    padding: 48px 0 24px;
}

    .card-head .header {
        font-size: 20px;
        font-weight: 500;
        color: #282828;
        display: inline-block;
        margin: 0;
    }

.card-body {
    display: block;
    position: relative;
}

form {
    display: block;
    margin-top: 0em;
}

.form-group {
    margin-bottom: 16px;
    position: relative;
}

.form-label {
    font-weight: 400;
    display: block;
    font-size: 16px;
    color: #282828;
    margin-bottom: 8px;
}

.form-control {
    font-size: 14px;
    color: #282828;
    border-radius: 3px;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #bbb;
    padding: 8px;
    display: block;
    width: 100%;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
}

    .form-control:focus, .form-control:hover {
        outline: 0 none;
        -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.075);
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.075);
        border-color: var(--color-primary);
    }

.button {
    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    background-color: var(--color-primary);
    height: 40px;
    width: 100%;
    box-shadow: 2px 2px 3px 0px rgba(101, 101, 101, 0.4);
}


    .button:hover, .button:focus {
        background-color: #ddaaff !important;
    }

.form-group .btn {
    margin-top: 2rem;
}

.card-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
}

    .card-footer > span {
        margin-bottom: 1rem;
    }

        .card-footer > span > a:hover {
            transition: all 0.5s ease;
            text-decoration: underline;
        }

footer{
  padding: 10px;
  text-align: center;
  color: #f7f7f7;
position: fixed;
   left: 0;
   bottom: 0;
  z-index: -1;
   width: 100%;

}


  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
